
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    padding: 20px;
}

/*COMMON*/
.container{
    
}


.logo{
    display: inline-block;
    vertical-align: middle;
}

img .logo {
    width: 50px;
}

.logo.text {
    font-size: 600 px;
}