
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}

/*COMMON*/
.container{
    width: 70%;
    margin: auto;
    padding: 3% 3% 2% 5%;
    background-color: white;
}


.logo{
    display: inline-block;
    vertical-align: middle;
}

img .logo {
    width: 50px;
}

.logo.text {  
    font-size: 30px;
    font-weight: 700;
    font-weight: 30px;
}

.button {    
    padding: 5px 10px;
    border-radius: 10%;
}

.button.add-task{
    background-color: rgb(0, 153, 255);
    color: white;
    border: 1px solid rgb(0, 153, 255)
}

.button.add-section{
    color: grey;
    border: 1px solid grey;    
}

.task{
    list-style-type: none;
    line-height: 35px;
}

.category{
    font-weight: 900;
}

.task.list{
    margin-bottom: 20px;
}

.flag{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50% ;
    border: 1px solid;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
}

.flag.green{
    color: green;
    border-color: green; 
}

.flag.red{
    color: red;
    border-color:red; 
}

.etichetta {   
    padding: 5px 10px;
    border-radius: 30%;   
    margin-left: 10px;
    color: white;
    font-size: 10px;
}

.etichetta.blu {   
    background-color: rgb(0, 153, 255);
}

.etichetta.viola {   
    background-color: purple;
}

.etichetta.verde {   
    background-color: green;
}

.etichetta.arancione {   
    background-color: orange;
}

.etichetta.fucsia {   
    background-color: palevioletred;
}

.etichetta.lime {   
    background-color: lightgreen;
}

